{% extends 'admin/backoffice.html.twig' %}

{% block title %}Gestion des zones géographiques
{% endblock %}

{% block body %}
	<h1>Gestion des zones géographiques</h1>
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Tables</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item">
					<a href="{{path('admin_index')}}">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					DataTable Example
				</div>
				<div class="card-body">
					<table id="datatablesSimple">
						<div class="card-body">
							<a href="{{ path('area_add') }}" class="btn btn-primary">Ajouter</a>
						</div>
						<thead>
							<tr>
								<th>Id</th>
								<th>Nom</th>
								<th>Parent</th>
								<th>Livres</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Id</th>
								<th>Nom</th>
								<th>Parent</th>
								<th>Livres</th>
								<th>Actions</th>
							</tr>
						</tfoot>
						<tbody>

							{% for area in areas %}
								<tr>
									<td>{{ area.id }}</td>
									<td>{{ area.name }}</td>
									<td>{{ area.parent }}</td>
									<td>Livres</td>
									<td>
										<a href="{{ path('area_update', {id: area.id}) }}" class="btn btn-primary">Modifier</a>
										<a href="{{ path('area_delete', {id: area.id}) }}" class="btn btn-danger">Supprimer</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
{% block javascripts %}{% endblock %}
