{% extends 'admin/backoffice.html.twig' %}

{% block title %}Gestion des auteur.e.s
{% endblock %}

{% block body %}
	<h1>Gestion des auteur.e.s</h1>
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Tables</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item">
					<a href="{{path('admin_index')}}">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					DataTable Example
				</div>
				<div class="card-body">
					<table id="datatablesSimple">
						<div class="card-body">
							<a href="{{ path('author_add') }}" class="btn btn-primary">Ajouter</a>
						</div>
						<thead>
							<tr>
								<th>Prénom</th>
								<th>Nom</th>
								<th>Pays</th>
								<th>Biographie</th>
								<th>Photo</th>
								<th>Livres</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Prénom</th>
								<th>Nom</th>
								<th>Pays</th>
								<th>Biographie</th>
								<th>Photo</th>
								<th>Livres</th>
								<th>Actions</th>
							</tr>
						</tfoot>
						<tbody>

							{% for author in authors %}
								<tr>
									<td>{{ author.firstname }}</td>
									<td>{{ author.lastname }}</td>
									<td>{{ author.country }}</td>
									<td>{{ author.biography | u.truncate(10, '...')}}</td>
									<td>{{ author.photo }}</td>
									<td>Livres</td>
									<td>
										<a href="{{ path('author_update', {id: author.id}) }}" class="btn btn-primary">Modifier</a>
										<a href="{{ path('author_delete', {id: author.id}) }}" class="btn btn-danger">Supprimer</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
{% block javascripts %}{% endblock %}
