{% extends 'clean.html.twig' %}

{% block title %}
	Le livre du mois
{% endblock %}
{% block bg %}
	{{ asset('clean/assets/img/bookshelves.jpeg')}}
{% endblock %}

{% block body %}
	<!-- Sidebar -->
	<div class="col-lg-4 col-md-4 mx-auto">
		<h2>Quelques suggestions similaires...</h2>

		{% for book in books %}
			<div class="post-preview">
				<a href="{{ path('book_view', {slug: book.slug}) }}">
					<h2 class="post-subtitle">{{ book.title }}</h2>
				</a>
			</div>
		{% endfor %}

	</div>
	<!-- Post Content-->
	{% for book in books %}
		<article class="mb-4">
			<div class="container px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7">
						<h2 class="section-heading">{{ book.title}}
						</h2>
						<p>{{ book.summary}}</p>
						<p>
							Placeholder text by
							<a href="http://spaceipsum.com/">Space Ipsum</a>
							&middot; Images by
							<a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
						</p>
					</div>
				</div>
			</div>
		</article>
	{% endfor %}
{% endblock %}
