{% extends 'admin/backoffice.html.twig' %}

{% block title %}Validation des commentaires
{% endblock %}

{% block body %}
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Tables</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item">
					<a href="{{path('admin_index')}}">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					DataTable Example
				</div>
				<div class="card-body">
					<table id="datatablesSimple">
						<thead>
							<tr>
								<th>Date</th>
								<th>Livre commenté</th>
								<th>Post commenté</th>
								<th>Auteur Email</th>
								<th>Auteur Pseudo</th>
								<th>Contenu</th>
								<th>Publier</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Date</th>
								<th>Livre commenté</th>
								<th>Post commenté</th>
								<th>Auteur Email</th>
								<th>Auteur Pseudo</th>
								<th>Contenu</th>
								<th>Publier</th>
							</tr>
						</tfoot>
						<tbody>

							{% for comment in comments %}
								<tr>
									<td>{{ comment.createdAt|date('d-m-Y H:i') }}</td>
									<td>{{ comment.book }}</td>
									<td>{{ comment.post }}</td>
									<td>{{ comment.writtenBy }}</td>
									<td>{{ comment.nickname }}</td>
									<td>{{ comment.content }}</td>
									<td>{{ comment.isPublished}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
{% endblock %}